.fade-enter {
    right: 100px;
}

.fade-enter-active {
    right: 0px;
    transition: 0.5s ease-in all;
}

.remove-btn {
    margin-right: 0.5rem;
}

.video-enter {
    opacity: 0;
}

.video-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.video-exit {
    opacity: 1;
}

.chore-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}